@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow: hidden;
  @include flex();
  flex-direction: column;
  background: rgb(255, 255, 255);
  // background: radial-gradient(
  //   circle,
  //   rgba(255, 255, 255, 1) 3%,
  //   rgba(223, 223, 223, 1) 100%
  // );
}
svg {
  position: "absolute";
  width: 0;
  height: 0;
}
nav {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
  opacity: 0;
  transform: translateY(-90%);
  transition: transform 1s ease-out;
  .Logo {
    width: 90px;
    margin-top: 10px;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      padding: 0px 30px;
      a {
        text-decoration: none;
        color: #333;
      }
      a:hover {
        color: rgba(82, 82, 82, 0.63);
      }
    }
  }
}
.nav-in {
  opacity: 1;
  transform: translateY(0%);
}

video {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 1920px;
  z-index: -1;
}

header {
  min-height: 90vh;
  user-select: none;
  @include flex();
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  .Name {
    margin-left: 50px;
    align-self: flex-start;
    width: 350px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 1s ease-out;
  }
  .Name-in {
    opacity: 1;
    transform: translateX(0%);
  }
  .start {
    margin-left: 50px;
    margin-top: 25px;
    font-family: "Arial" !important;
    letter-spacing: 10px;
    align-self: start;
    font-size: 60px;
    color: #ffffff;
    transition: text-shadow 1.5s ease-in;
    text-shadow: 0px 0px 2px #ffffff, 0px 0px 2px #ffffff;
  }
  .dope {
    text-shadow: 5px 5px 10px #e6e7e8, -5px -5px 10px #ffffff;
  }
  .core {
    @include flex();
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  .further-out {
    // position: relative;
    align-self: start;
    margin-left: 50px;
    width: 120px;
    height: 120px;
    box-shadow: inset -4px -4px 3px #cacaca, inset 4px 4px 1px #ffffff,
      15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
    transform: translateY(-150%);
    transition: transform 1s ease-out;
  }
  .move {
    transform: translateY(-38%);
  }
  .outer {
    box-shadow: -4px -4px 9px #cacaca, 4px 4px 20px #ffffff;
    width: 90%;
    height: 90%;
  }
  .play {
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #ffffff;
    // box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
    border: 0.004em solid rgba(#fff, 0.3);
    color: #9baacf;
    transition: all 120ms ease-out 0s;
    &:hover {
      color: #6d5dfc5d;
    }
    &:active {
      color: #6d5dfc;
      box-shadow: inset 8px 8px 16px #f5f5f5, inset -8px -8px 16px #ffffff;
    }
  }
  .wave {
    position: absolute;
    box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
    width: 100px;
    height: 100px;
    z-index: -1;
    opacity: 0;
  }
  .wave2 {
    position: absolute;
    box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
    width: 150px;
    height: 150px;
    z-index: -1;
    opacity: 0;
  }
  .expand {
    animation: waveAnim 2s ease-out;
  }
}

@keyframes waveAnim {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(4);
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}

@keyframes rotate {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}
@media only screen and (max-width: 600px) {
  video {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 1920px;
    z-index: -1;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  nav {
    display: none;
  }
  header {
    .Name {
      width: 350px;
    }
    .Name-in {
      transform: translateX(-10%);
    }
    .start {
      transform: translateX(8%) translateY(-50%);
      font-size: 45px;
      letter-spacing: 25px;
      margin-top: 0 !important;
    }
    .further-out {
      background-color: #fff;
      width: 380px;
      height: 380px;
    }
  }
}
@media only screen and (max-width: 800px) {
  header {
    .further-out {
      width: 130px;
      height: 130px;
    }
  }
}
// @media only screen and (min-width: 1400px) {
//   header {
//     .further-out {
//       margin-left: 0 !important;
//     }
//   }
// }
