@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

svg {
  position: "absolute";
  width: 0;
  height: 0;
}

nav {
  min-height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 100px;
  opacity: 0;
  -webkit-transform: translateY(-90%);
          transform: translateY(-90%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

nav .Logo {
  width: 90px;
  margin-top: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0px 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  color: rgba(82, 82, 82, 0.63);
}

.nav-in {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

video {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 1920px;
  z-index: -1;
}

header {
  min-height: 90vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

header .Name {
  margin-left: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 350px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

header .Name-in {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header .start {
  margin-left: 50px;
  margin-top: 25px;
  font-family: "Arial" !important;
  letter-spacing: 10px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 60px;
  color: #ffffff;
  -webkit-transition: text-shadow 1.5s ease-in;
  transition: text-shadow 1.5s ease-in;
  text-shadow: 0px 0px 2px #ffffff, 0px 0px 2px #ffffff;
}

header .dope {
  text-shadow: 5px 5px 10px #e6e7e8, -5px -5px 10px #ffffff;
}

header .core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

header .further-out {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-left: 50px;
  width: 120px;
  height: 120px;
  -webkit-box-shadow: inset -4px -4px 3px #cacaca, inset 4px 4px 1px #ffffff, 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
          box-shadow: inset -4px -4px 3px #cacaca, inset 4px 4px 1px #ffffff, 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 1s ease-out;
  transition: -webkit-transform 1s ease-out;
  transition: transform 1s ease-out;
  transition: transform 1s ease-out, -webkit-transform 1s ease-out;
}

header .move {
  -webkit-transform: translateY(-38%);
          transform: translateY(-38%);
}

header .outer {
  -webkit-box-shadow: -4px -4px 9px #cacaca, 4px 4px 20px #ffffff;
          box-shadow: -4px -4px 9px #cacaca, 4px 4px 20px #ffffff;
  width: 90%;
  height: 90%;
}

header .play {
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #ffffff;
  border: 0.004em solid rgba(255, 255, 255, 0.3);
  color: #9baacf;
  -webkit-transition: all 120ms ease-out 0s;
  transition: all 120ms ease-out 0s;
}

header .play:hover {
  color: #6d5dfc5d;
}

header .play:active {
  color: #6d5dfc;
  -webkit-box-shadow: inset 8px 8px 16px #f5f5f5, inset -8px -8px 16px #ffffff;
          box-shadow: inset 8px 8px 16px #f5f5f5, inset -8px -8px 16px #ffffff;
}

header .wave {
  position: absolute;
  -webkit-box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
          box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
  width: 100px;
  height: 100px;
  z-index: -1;
  opacity: 0;
}

header .wave2 {
  position: absolute;
  -webkit-box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
          box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
  width: 150px;
  height: 150px;
  z-index: -1;
  opacity: 0;
}

header .expand {
  -webkit-animation: waveAnim 2s ease-out;
          animation: waveAnim 2s ease-out;
}

@-webkit-keyframes waveAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@keyframes waveAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes rotate {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@media only screen and (max-width: 600px) {
  video {
    width: 100%;
    position: absolute;
    left: 0%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    max-width: 1920px;
    z-index: -1;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  nav {
    display: none;
  }
  header .Name {
    width: 350px;
  }
  header .Name-in {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  header .start {
    -webkit-transform: translateX(8%) translateY(-50%);
            transform: translateX(8%) translateY(-50%);
    font-size: 45px;
    letter-spacing: 25px;
    margin-top: 0 !important;
  }
  header .further-out {
    background-color: #fff;
    width: 380px;
    height: 380px;
  }
}

@media only screen and (max-width: 800px) {
  header .further-out {
    width: 130px;
    height: 130px;
  }
}
/*# sourceMappingURL=style.css.map */