@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  background: radial-gradient(circle, white 3%, #dfdfdf 100%);
}

svg {
  position: "absolute";
  width: 0;
  height: 0;
}

header {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

header .further-out {
  width: 120px;
  height: 120px;
  -webkit-box-shadow: inset -4px -4px 3px #cacaca, inset 4px 4px 1px #ffffff, 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
          box-shadow: inset -4px -4px 3px #cacaca, inset 4px 4px 1px #ffffff, 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
}

header .outer {
  -webkit-box-shadow: -4px -4px 9px #cacaca, 4px 4px 20px #ffffff;
          box-shadow: -4px -4px 9px #cacaca, 4px 4px 20px #ffffff;
  width: 90%;
  height: 90%;
}

header .play {
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #f5f6f7;
  border: 0.004em solid rgba(255, 255, 255, 0.3);
  color: #9baacf;
  -webkit-transition: all 120ms ease-out 0s;
  transition: all 120ms ease-out 0s;
}

header .play:hover {
  color: #6d5dfc5d;
}

header .play:active {
  color: #6d5dfc;
  -webkit-box-shadow: inset 8px 8px 16px #ebeced, inset -8px -8px 16px #ffffff;
          box-shadow: inset 8px 8px 16px #ebeced, inset -8px -8px 16px #ffffff;
}

header .wave {
  position: absolute;
  -webkit-box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
          box-shadow: 15px 15px 25px #e6e7e8, -15px -15px 25px #ffffff;
  width: 100px;
  height: 100px;
  z-index: -1;
  opacity: 0;
}

header .expand {
  -webkit-animation: waveAnim 2s ease-out;
          animation: waveAnim 2s ease-out;
}

@-webkit-keyframes waveAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@keyframes waveAnim {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(4);
            transform: scale(4);
  }
  100% {
    -webkit-transform: scale(6);
            transform: scale(6);
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@keyframes rotate {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@media only screen and (max-width: 500px) {
  header .further-out {
    width: 380px;
    height: 380px;
  }
}

@media only screen and (max-width: 800px) {
  header .further-out {
    width: 130px;
    height: 130px;
  }
}
/*# sourceMappingURL=style.css.map */